body {
    margin: 0;
    padding: 0;
}

header a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

section {
    padding: 30px 0;
}

h1 {
    margin: 0;

}

h2 {}

h3 {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
}

.header {
    height: 4vh;
    list-style-type: none;
}


#splash {
    background-color: #edddcc;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



#produkter {
    background-color: #f5ebe1;
}

.produkter {
    display: flex;
    justify-content: center;
}

.filter_knapper {
    display: flex;
    justify-content: center;
}

#list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1000px;
}

#om_os {}

#land {
    background-color: #edddcc;
}
