/* GENERELT */
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

section {
    padding: 60px 40px;
}

/* FONT */
h1 {
    margin: 0;
    color: white;
    font-size: 70px;
    font-family: helvetica;
}

h2 {
    font-family: helvetica;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: helvetica;
}

h4 {
    color: white;
    margin: 0;
    padding-bottom: 10px;
    font-family: helvetica;
    font-size: 40px;
}

p {
    margin: 0;
    font-family: helvetica;
}









/* BURGERMENU */
#burgermenu {
    display: flex;
    position: fixed;
    right: 14px;
    top: 14px;
}


#burgermenu img {
    width: 40px;
}








/* HEADER */
#header {
    display: flex;
    padding: 12px 14px;
    width: 100vw;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.64);
    justify-content: center;
}

.header {
    max-width: 1200px;
    flex-grow: 1;
}

header a {
    text-decoration: none;
    color: #552800;
    text-transform: uppercase;
    list-style-type: none;
    padding: 0px 12px;
}

header a:hover {
    color: rgb(245, 219, 196);
}


header img {
    width: 200px;
}

header li {
    list-style-type: none;
}

#menu {
    align-items: center;
    font-family: helvetica;
    padding-top: 5px;
}

nav {
    opacity: 90%;
}

.hidden {
    display: none;
    transform: translateX(-100%);
}










/* SPLASH */
#splash {
    display: flex;
    flex-wrap: wrap;

    background-image: url("images_coffee/splash_sort_50.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#splash h1 {
    margin-top: 200px;
}

#splash p {
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

#splash button {
    margin-bottom: 10px;
}

#splash img {
    margin-bottom: 250px;
    width: 60px;
}







/* PRODUKTER */
#produkter {
    background-color: #f5ebe1;
}

.produkter {
    display: flex;
    justify-content: center;
}

.filter_knapper {
    display: flex;
    justify-content: center;
}

#list p {
    margin-bottom: 40px;
}








/* OM OS */
#land {
    background-color: #EBD9C3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#om_os {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.tekst,
.billede {
    flex-basis: 800px;
    flex-grow: 1;
    max-width: 580px;
}








/* FOOTER */
#footer {
    background-color: rgba(28, 11, 8, 0.94);
    padding: 60px 40px 50px;
    display: flex;
    justify-content: center;
}

#footer p {
    color: white;
    padding-bottom: 10px;
}

.footer {
    max-width: 1200px;
    flex-grow: 1;
}







/* PILE */
#pil_splash_produkter {
    background-color: #f5ebe1;
}

#pil_om_os_land {
    background-color: #EBD9C3;
}

.pil {
    display: flex;
    justify-content: center;
}

.pil img {
    width: 120px;
    display: flex;
    justify-content: center;
}






@media (min-width:740px) {

    /* BURGERMENU */
    #burgermenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    /* HEADER */
    header img {
        width: 250px;
    }

    .header {
        display: flex;
    }

    /* SPLASH */
    h1 {
        font-size: 100px;
    }

    /* PRODUKTER */
    #list {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 1200px;
    }

    /* OM OS */

    .tekst {
        flex-basis: 100px;
        flex-grow: 1;
    }

    .billede {
        flex-basis: 100px;
        flex-grow: 1;
    }

    #land .tekst {
        padding-left: 20px;
    }

    #land .billede {
        padding-right: 20px;
    }

    #om_os .tekst {
        padding-right: 20px;
    }

    #om_os .billede {
        padding-left: 20px;
    }
}
